body {
    flex-direction: column;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    width: 5rem;
    height: 2rem;
}

.golden {
    border: solid;
    padding: 2rem;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.disk {
    text-align: center;
}

.input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.input *+* {
    margin: 1rem;
}

#tower {
    flex-direction: row;
}